<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>Edit Recipe</title>
</head>
<body>
	<%- include ('../partials/editnav.ejs') %>
	<div class="recipe-header">
		<div class="recipe-header-name">
			<h1><%= recipe.name %></h1>
			<p>Servings: <%= recipe.yield %></p>
		</div>
		<% console.log(recipe) %>
		<div class="recipe-header-small-details">
			<% homecook.forEach(homecook=> { %>
				<% if (recipe.homecook.equals(homecook._id)) { %>
			<p><%= homecook.name %></p>
			<p><%= recipe.timestamps %></p>
		<% } %>
			<% }) %>
		<% if(recipe.homecook.equals(user._id)) { %>
			<div class='edit-delete-btns'>
				<form method='POST' action='/recipes/<%= recipe._id%>?_method=DELETE'>
					<button id="recipe-delete-button">delete recipe</button>
				</form>
				<a href="../recipes/<%= recipe._id %>/edit"><h4>edit recipe</h4></a>
			</div>
		<% } %>
		</div>
	</div>
	<form action="/recipes/<%= recipe._id%>?_method=PUT" method="POST">
		<div class="recipe-form">
			<div class="short-answer">
				<h3>recipe name</h3>
				<input type="text" name="recipe-name" value="<%=recipe.name %>">
				<h3>yield</h3>
				<input type="text" name="yield" value="<%=recipe.yield %>">
				<h3>photo</h3>
				<input type="text" name="photo" value="<%=recipe.photo %>">
			</div>
			<div class="long-answer">
				<h3>ingredients</h3>
				<textarea type="text" name="ingredients"><%=recipe.ingredients %></textarea>
			</div>
			<div class="long-answer">
				<h3>preparation</h3>
				<textarea name="preparation"><%=recipe.preparation %></textarea>
			</div>
			<input type="submit" value="update">
		</div>
	</form>
	<%- include ('../partials/footer.ejs') %>
</body>
</html>