<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>Edit Homecook Profile</title>
</head>
<body>
	<%- include ('../partials/nav.ejs') %>
	<div class="page-container">
		<div class ="homecook-header-name">
			<h1><%= homecooks.name %></h1>
			<p>Recipes Created: <%= user.recipe.length %></p>
		</div>
		<form id="biography-edit" action="/homecooks/<%= homecooks._id %>?_method=PUT" method = "POST">
			<div class="short-answer">
				<h3>biography</h3>
				<textarea name="biography"><%=homecooks.biography%></textarea>
			</div>
			<input type="submit" value="update">
		</form>
	</div>
	<%- include ('../partials/footer.ejs') %>
</body>
</html>