<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>User Index</title>
</head>
<body>
	<%- include ('../partials/nav.ejs') %>
	<div class="user-profile">
		<div class="user-description">
			<div class="user-header">
				<h3><%= homecooks.name %></h3>
				<p><%= homecooks.facts %></p>
			</div>
			<% homecooks.forEach(recipe => { %>
				<div class="recipe-description">
					<div class="recipe-card-top">
						<h3><%= recipe.name %></h3>
					</div>
				</div>
			<% }) %>
	</div>
</body>
</html>