<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>User Profile</title>
</head>
<body>
	<%- include ('../partials/nav.ejs') %>
	<div class="homecook-header">
		<div class = "homecook-header-name">
			<h1><%= homecook.name %></h1>
			<h3><%= homecook.email %></h3>
		</div>
	</br></br></br>
		<div class="homecook-header-description">
			<% if(!homecook.facts) { %>
				<h3>No description has been made. Add a description!</h3>
			<% } %>
			<% homecook.forEach(recipe => { %>
				<div>
					<h3><%= homecook.facts %></h3>
				</div>
			<% }) %>
		</div>
	</div>
</body>
</html>