<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>User Profile</title>
</head>
<body>
	<%- include ('../partials/nav.ejs') %>
	<div class="homecook-header">
		<div class = "homecook-header-name">
			<h1><%= homecooks.name %></h1>
			<h3><%= homecooks.email %></h3>
		</div>
	</br></br></br>
		<div class="homecook-description">
			<% if(!homecooks.biography) { %>
				<h3>No description has been made. Add a description!</h3>
			<% } %>
				<h3><%= homecooks.biography %></h3>
		</div>
		<a href="../homecooks/<%= homecooks._id %>/edit"><button class="homecook-buttons">add a description</button></a>
	</div>
</body>
</html>