<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>Homecook Profile</title>
</head>
<body>
	<%- include ('../partials/nav.ejs') %>
	<div class="homecook-profile">
		<div class ="homecook-header-name">
			<h1><%= homecooks.name %></h1>
			<p>Recipes Created: <%= homecooks.recipe.length %></p>
		</div>
		<h3>biography</h3>
		<div class="homecook-biography">
			<% if(!homecooks.biography) { %>
				<p>No description has been made. Add a description!</p>
			<% } %>
				<p><%= homecooks.biography %></p>
		</div>
			<% if(homecooks._id.equals(user._id)) { %>
				<a href="../homecooks/<%= homecooks._id %>/edit"><h4>edit biography</h4></a>
				<form id="delete-button" action="/homecooks/<%= homecooks._id %>?_method=DELETE" method="POST">
					<input type="submit" value = "Delete">
				</form>
			<% } %>
	</div>
</body>
</html>