<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('../partials/head.ejs') %>
	<title>User Profile</title>
</head>
<body>
	<%- include ('../partials/nav.ejs') %>
	<div class="homecook-header">
		<div class = "homecook-header-name">
			<h1><%= homecook.name %></h1>
			<h3><%= homecook.email %></h3>
		</div>
	</br></br></br>
		<div class="homecook-description">
			<% if(!homecook.facts) { %>
				<h3>No description has been made. Add a description!</h3>
			<% } %>
			<% let array = []; %>
			<% for (let i = 0; i < homecook.length; i++) { %>
				<li>
					<h3><%= homecook.facts[i] %></h3>
				</li>
			<% }; %>
		</div>
		<a href="../homecooks/new"><button class="homecook-buttons">add a description</button></a>
	</div>
</body>
</html>